.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-container {
  @apply min-h-screen bg-gradient-to-br from-green-100 via-green-50 to-white;
}

.property-card-button {
  margin: 0rem 1rem 0rem 0rem;
  @apply inline-block mt-4 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-200
  
}

.disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* High z-index to keep disclaimer on top */
}
