/* MyListings.css */

.my-listings-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.listings-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-left: 300px;
}

.listing-card {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.listing-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.listing-image {
    width: 100px; /* Set fixed width */
    height: 100px; /* Set fixed height */
    border-radius: 5px; /* Rounded corners */
    margin-right: 15px; /* Space between image and text */
}

.listing-details {
    flex-grow: 1; /* Allow text to take remaining space */
}

.listing-title {
    font-size: 20px;
    color: #555;
}

.listing-description {
    font-size: 16px;
    color: #666;
}

.listing-rent,
.listing-status {
    font-size: 16px;
    color: #333;
}

.edit-link {
    display:inline-block;
    margin-top :10px;
    margin-left: 200px;
   padding :8px ;
   background-color:#4CAF50; /* Green */
   color:white ;
   text-decoration:none ;
   border-radius :4px ;
}

.edit-link:hover {
   background-color:#45a049; /* Darker green */
}